<li class="card content-list-item">
  <ul class="card-details content-list-item-details">
    <li><%= card.escape('title') %></li>
    <li><img src="<%= card.escape('image') %>" width="150" class='card-image'></li></a>
    <li><%= card.escape('description') %></li>
    <li>Posted on: <a href="#/boards/<%= card.escape('board_id') %>"><%= card.escape('board_title') %></a></li>
    <li>Owned by: <a href="#/users/<%= card.escape('user_id') %>"><%= card.escape('user_username') %></a></li>
  </ul>
</li>