<ul class="user-profile group">
  <li><img src="<%= user.escape('image') %>" height="100" class="user-profile-avatar"></li>
  <li><h2 class="profile-title"><%= user.escape('username') %></h2></li>
  
  <% if (user.escape('id') !== Pinless.currentUser.escape('id')) { %>
    <% var alreadyFriends = false; %>
    <% user.friends.forEach(function(friend) { %>
      <% console.log(user.friends); %>
      <% if (friend.escape('id') === Pinless.currentUser.escape('id')) { %>
        <% alreadyFriends = true; %>
        <% return; %>
      <% } %>
    <% }); %>
    
    <% if (requestedFriendYet) { %>
        <li class="friend-button-li"><button class="pending-friend-button">Pending Request</button></li>
    <% } else if (!alreadyFriends) { %>
        <li class="friend-button-li"><button class="friend-button" data-id="<%= user.escape('id') %>">Add As Friend</button></li>
    <% } else { %>
      <li class="friend-button-li"><button class="unfriend-button" data-id="<%= user.escape('id') %>">Remove as Friends</button></li>
    <% } %>
  <% } %>
</ul>

<ul class="user-links group">
  <li><a href="#" data-id="<%= user.escape('id') %>" class="user-boards-link user-nav-link"><%= user.escape('username') %>'s Boards</a></li>
  <li><a href="#" data-id="<%= user.escape('id') %>" class="user-cards-link user-nav-link"><%= user.escape('username') %>'s Cards</a></li>
  <li><a href="#" data-id="<%= user.escape('id') %>" class="user-liked-boards-link user-nav-link"><%= user.escape('username') %>'s Liked Boards</a></li>
  <li><a href="#" data-id="<%= user.escape('id') %>" class="user-liked-cards-link user-nav-link"><%= user.escape('username') %>'s Liked Cards</a></li>
  <li><a href="#" data-id="<%= user.escape('id') %>" class="user-friends-link user-nav-link"><%= user.escape('username') %>'s Friends</a></li>
</ul>

<section class="content"></section>