<ul class="user-profile group">
  <li><img src="<%= user.escape('avatar') %>" height="100" class="user-profile-avatar"></li>
  <li><h2 class="profile-title"><%= user.escape('username') %></h2></li>
  
  <% if (user.escape('id') !== Pinless.currentUser.escape('id')) { %>
    <% var alreadyFriends = false; %>
    <% user.friends.forEach(function(friend) { %>
      <% if (friend.escape('id') === Pinless.currentUser.escape('id')) { %>
        <% alreadyFriends = true; %>
        <% return; %>
      <% } %>
    <% }); %>
    
    <% if (user.escape('friendship_status') === "pending") { %>
        <li class="friend-button-li"><button class="pending-friend-button friend-btn">Pending Request</button></li>
    <% } else if (user.escape('friendship_status') === "not_friends") { %>
        <li class="friend-button-li"><button class="friend-button friend-btn" data-id="<%= user.escape('id') %>">Add As Friend</button></li>
    <% } else { %>
      <li class="friend-button-li"><button class="unfriend-button friend-btn" data-id="<%= user.escape('id') %>">Remove as Friends</button></li>
    <% } %>
  <% } %>
</ul>

<ul class="user-links group">
  <li><a href="#/users/<%= user.escape('id') %>/boards" class="user-boards-link user-nav-link"><%= user.escape('username') %>'s Boards</a></li>
  <li><a href="#/users/<%= user.escape('id') %>/cards" class="user-cards-link user-nav-link"><%= user.escape('username') %>'s Cards</a></li>
  <li><a href="#/users/<%= user.escape('id') %>/boards/liked" class="user-liked-boards-link user-nav-link"><%= user.escape('username') %>'s Liked Boards</a></li>
  <li><a href="#/users/<%= user.escape('id') %>/cards/liked" class="user-liked-cards-link user-nav-link"><%= user.escape('username') %>'s Liked Cards</a></li>
  <li><a href="#/users/<%= user.escape('id') %>/friends" class="user-friends-link user-nav-link"><%= user.escape('username') %>'s Friends</a></li>
  <% if (user.escape('id') == Pinless.currentUser.id) { %>
    <li><a href="#/requests" class="user-requests-link user-nav-link"><%= user.escape('username') %>'s Friend Requests</a></li>
  <% } %>
</ul>

<section class="content"></section>