<h2>My Boards</h2>
<a href="<%= new_user_board_url(current_user) %>">Add A Board!</a>
<ul class="group">
  <% @user.boards.each do |board| %>
    <li class="board content-list-item">
      <ul class="board-details content-list-item-details">
        <a href="<%= board_url(board) %>"><li><%= board.title %></li>
        <li><img src="<%= board.avatar.url %>" width="150"></li></a>
      </ul>
    </li>
  <% end %>
</ul>

<h2>My Cards</h2>
<ul class="group">
  <% @user.cards.each do |card| %>
    <li class="card content-list-item">
      <ul class="card-details content-list-item-details">
        <a href="<%= card_url(card) %>"><li><%= card.title %></li>
        <li><img src="<%= card.image.url %>" width="150"></li></a>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Liked Boards</h2>
<ul class="group">
  <% @user.liked_boards.each do |board| %>
    <li class="board content-list-item">
      <ul class="board-details content-list-item-details">
        <a href="<%= board_url(board) %>"><li><%= board.title %></li>
        <li><img src="<%= board.avatar.url %>" width="150"></li></a>
        <li>Owned by: <a href="<%= board.user.username %>"><%= board.user.username %></a>
      </ul>
    </li>
  <% end %>
</ul>