<h2>My Boards</h2>
<a href="<%= new_user_board_url(current_user) %>">Add A Board!</a>
<ul class="group">
  <% @user.boards.each do |board| %>
    <li class="board content-list-item">
      <ul class="board-details content-list-item-details">
        <a href="<%= board_url(board) %>"><li><%= board.title %></li>
        <li><img src="<%= board.avatar.url %>" width="150"></li></a>
      </ul>
    </li>
  <% end %>
</ul>

<h2>My Cards</h2>
<ul class="group">
  <% @user.cards.each do |card| %>
    <li class="card content-list-item">
      <ul class="card-details content-list-item-details">
        <a href="<%= card_url(card) %>"><li><%= card.title %></li>
        <li><img src="<%= card.image.url %>" width="150"></li></a>
        <li>Posted in: <a href="<%= board_url(card.board) %>"><%= card.board.title %></a>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Liked Boards</h2>
<ul class="group">
  <% @user.liked_boards.each do |board| %>
    <li class="board content-list-item">
      <ul class="board-details content-list-item-details">
        <a href="<%= board_url(board) %>"><li><%= board.title %></li>
        <li><img src="<%= board.avatar.url %>" width="150"></li></a>
        <li>Owned by: <a href="<%= board_url(board.user) %>"><%= board.user.username %></a>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Liked Cards</h2>
<ul class="group">
  <% @user.liked_cards.each do |card| %>
    <li class="card content-list-item">
      <ul class="card-details content-list-item-details">
        <a href="<%= card_url(card) %>"><li><%= card.title %></li>
        <li><img src="<%= card.image.url %>" width="150"></li></a>
        <li>Posted in: <a href="<%= board_url(card.board) %>"><%= card.board.title %></a>
        <li>Posted by: <a href="<%= user_url(card.user) %>"><%= card.user.username %></a>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Friends</h2>
<ul class="group">
  <% @user.friends.each do |friend| %>
    <li><img src="<% friend.avatar.url %>" height="100" width="100"></li>
    <li><a href="<%= user_url(friend) %>"><%= friend.username %></a></li>
  <% end %>
</ul>

<% if @user == current_user && @friend_requests.length > 0 %>
  <h2>Friend Requests</h2>
  <ul>
    <% @friend_requests.each do |request| %>
      <%= request.requester.username %>
      <form action="<%= friendships_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="friendship[user_id]" value="<%= request.requester_id %>">
        <input type="hidden" name="friendship[friend_id]" value="<%= request.requestee_id %>">
        <input type="hidden" name="request_id" value="<%= request.id %>">
        <button>Accept</button>
      </form>
      <%= button_to "Deny", friend_request_url(request), method: :delete %>
    <% end %>
  </ul>
<% end %>
