<div class="form-wrap">
<form class="signup-form" action="<%= users_url %>" method="post">
  <ul class="group">
    <li><a href="/session/new" class="signin-link">Sign In</a></li>
  </ul>
  <h2>Sign Up</h2>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p class="error"><%= error %></p>
    <% end %>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input id="signup-username" class="signup-text" placeholder="Username" type="text" name="user[username]" value="<%= @user.username %>">

  <input id="signup-password" class="signup-text" type="password" placeholder="Password" name="user[password]" value="<%= @user.password %>">

  <input id="signup-email" class="signup-text" type="email" placeholder="Email" name="user[email]" value="<%= @user.email %>">

  <button class="signup-button">Sign Up</button>
  <br>

  <div class="line-and-or">
    <hr>
    <p class="or">OR</p>
  </div>

  <a href="/auth/facebook" class="fb-signin"><%= image_tag "fb_signin.png" %></a>
</form>
</div>