<header class="top-header group">
  <li class="header-left"><input type="text" class="search-box"></li>

  <li class="header-right">
    <ul class="user-stuff group">
      <li><img src="<%= current_user.avatar.url %>" height="30px" class="header-avatar"></li>
      <li><a href="#/users/<%= current_user.id %>" class="header-username"><%= current_user.username %></a></li>
      <ul class="dropdown-menu">
        <li><a href="#/users/<%= current_user.id %>">Your Profile</a></li>
        <li><%= button_to "Logout", session_url, method: :delete, class: 'logout-button' %></li>
      </ul>
    </ul>
  </li>
  <h2 class="logo">Pinless</h2>
</header>