<header class="top-header group">
  <li class="header-left"><input type="text" class="search-box"></li>
  <li class="header-left"><input type="submit" class="search-button" value="Search"></li>

  <li class="header-right">
    <ul class="user-stuff group">
      <li class="header-right-left"><img src="<%= current_user.avatar.url %>" height="30px" class="header-avatar"></li>
      <li class="header-right-right"><a href="#/users/<%= current_user.id %>" class="header-username"><%= current_user.username %></a></li>
      <ul class="dropdown-menu">
        <li><a href="#/users/<%= current_user.id %>">Your Profile</a></li>
        <li><a href="#" class="header-add-board">Add A Board</a></li>
        <li><%= button_to "Logout", session_url, method: :delete, class: 'logout-button' %></li>
      </ul>
    </ul>
  </li>
  <a href="/#/"><h2 class="logo">Pinless</h2></a>
</header>

<script>
  $(document).ready(function () {
    $('.search-box').on('focus', function (event) {
      $('.search-button').addClass('search-button-focus');
    });

    $('.search-box').on('blur', function (event) {
      $('.search-button').removeClass('search-button-focus');
    });

    $('.header-add-board').on('click', function (event) {
      var board = new Pinless.boards.getOrFetch(1, function (data) {

      });
    });
  });
</script>