<%= render partial: "static/header" %>

<section id="content">
  <li class="card content-list-item">
    <ul class="card-details content-list-item-details">
      <li><%= @card.title %></li>
      <li><img src="<%= @card.image.url %>" width="150"></li>
      <li><%= @card.description %></li>
      <li>Posted on: <a href="<%= board_url(@card.board) %>"><%= @card.board.title %></a></li>
      <li>Posted by: <a href="<%= user_url(@card.user) %>"><%= @card.user.username %></a></li>
    </ul>
  </li>
</section>